In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
s = df[ 'Name'][0:10]

In [6]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [7]:
len(s)

10

In [8]:
type(s)

pandas.core.series.Series

In [9]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [10]:
pd.Series(s,index=l) # data NaN kyu aa rahai kyuki 's' series me hai  phir se  Series call kar rehe hai iske karne se data nalfae(katm matlab kuch nahi bachta ahi) kale ho jata hai

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [11]:
s1 = pd.Series(list(s),index=l) # s ko list ander rakho

In [12]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [13]:
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [14]:
s[0]

'Braund, Mr. Owen Harris'

In [15]:
s1[0] # apna index dene ke baujud python ko intenal index(by drfult index) hamesa  yad rah tha hai

C:\Users\frontech\AppData\Local\Temp\ipykernel_4292\2317094002.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] # apna index dene ke baujud python ko intenal index(by drfult index) hamesa  yad rah tha hai

'Braund, Mr. Owen Harris'

In [16]:
s1['a']

'Braund, Mr. Owen Harris'

In [17]:
s1.append(s)
#yaha sef series hi dala hona 

#In pandas 2.0 and later, the append() method for Series and DataFrame objects has been removed.

AttributeError: 'Series' object has no attribute 'append'

In [ ]:
pd.concat([s,'sajan']) #  append() ise use kar lo pd call hoga same to same
#yaha sef series hi dala hona

In [39]:
s2 = pd.concat([s1,s])

In [40]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [41]:
s2[0] #0                              Braund, Mr. Owen Harris  data de raha hai

'Braund, Mr. Owen Harris'

In [42]:
s2[4] #ak manually our index mame ak by defulit  index mame wala hai 
#apna index dene ke baujud python ko intenal index(by drfult index) hamesa  yad rah tha hai ye yaha kam nahi kar raha hai 
#yaha par yad jo rakha hai   o nahi aaya jo dekhe raha hai  o data(index ka data )aaya ga

'Allen, Mr. William Henry'

In [22]:
df1 = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [28]:
df1

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [27]:
df1.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [32]:
d1 = df1['species'][0:10]

In [34]:
d1

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
5    setosa
6    setosa
7    setosa
8    setosa
9    setosa
Name: species, dtype: object

In [45]:
d4 = pd.Series(list(d1),index=l) # list likho ya [] de dono ak hai

In [46]:
d4

a    setosa
b    setosa
c    setosa
d    setosa
e    setosa
f    setosa
g    setosa
h    setosa
i    setosa
j    setosa
dtype: object

In [35]:
d2 = pd.concat([s1,d1])

In [36]:
d2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                                               setosa
1                                               setosa
2                                               setosa
3                                               setosa
4                                               setosa
5                                               setosa
6                                               setosa
7                                               setosa
8                                               setosa
9                                               setosa
dtype: object

In [37]:
d2[0]  # by defulit wala index

'setosa'

In [38]:
d2[1]

'setosa'

In [43]:
d2[4] 
#ak manually  index mame our ak by defulit  index mame  wala hai 
#apna index dene ke baujud python ko intenal index(by drfult index) hamesa  yad rah tha hai ye yaha kam nahi kar raha hai 
#yaha par yad jo rakha hai   o nahi aaya jo dekhe raha hai  o data aaya

'setosa'

In [56]:
f = pd.concat([s1,d4])

In [57]:
f

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
a                                               setosa
b                                               setosa
c                                               setosa
d                                               setosa
e                                               setosa
f                                               setosa
g                                               setosa
h                                               setosa
i                                               setosa
j                                               setosa
dtype: object

In [58]:
f[0] # by defulit wala index

C:\Users\frontech\AppData\Local\Temp\ipykernel_4292\1169312981.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  f[0]

'Braund, Mr. Owen Harris'

In [59]:
f[5] 
#aya dono  manually  index mame wala hai same dono by defult  index mame me hoga 
#apna index dene ke baujud python ko intenal index(by drfult index) hamesa  yad rah tha hai
#yaha par yad rakhata hai lekin yaha jo phele hoga o data dekhe ga

C:\Users\frontech\AppData\Local\Temp\ipykernel_4292\1520973812.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  f[5]

'Moran, Mr. James'

In [55]:
f['a'] # manually index call karo o dono dekhega

a                     setosa
a    Braund, Mr. Owen Harris
dtype: object

In [64]:
y = pd.concat([s,d1])

In [66]:
y

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
0                                               setosa
1                                               setosa
2                                               setosa
3                                               setosa
4                                               setosa
5                                               setosa
6                                               setosa
7                                               setosa
8                                               setosa
9                                               setosa
dtype: object

In [65]:
y[0] #dono dekhe ga ager dono bt defulit wala ho to

0    Braund, Mr. Owen Harris
0                     setosa
dtype: object

In [70]:
s6 = pd.Series([1,5446,45,4,84,5])

In [71]:
s6

0       1
1    5446
2      45
3       4
4      84
5       5
dtype: int64

In [74]:
s7 = pd.Series([4,454,148,584,487],index=['a','b','c','d','e'])

In [75]:
s7

a      4
b    454
c    148
d    584
e    487
dtype: int64

In [76]:
s6*s7 # Multiplication  tab kare jab sab me index name same ho tab

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [78]:
s8 = pd.Series([45,45,45,5,6],index=[1,10,5,8,2])

In [79]:
s8

1     45
10    45
5     45
8      5
2      6
dtype: int64

In [80]:
s6*s8  #Multiplication tab kare jab sab me index name same ho tab

0          NaN
1     245070.0
2        270.0
3          NaN
4          NaN
5        225.0
8          NaN
10         NaN
dtype: float64

In [81]:
s6*s8*s7 8 #Multiplication tab kare jab sab me index name same ho tab ak bhi serices ka index alg hua nahi karega

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
8    NaN
10   NaN
a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [82]:
s6 + s7 #Addition tab kare jab sab me index name same ho tab

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [83]:
s6 + s8 #Addition tab kare jab sab me index name same ho tab

0        NaN
1     5491.0
2       51.0
3        NaN
4        NaN
5       50.0
8        NaN
10       NaN
dtype: float64

In [84]:
s6 + s7 + s8 #Addition tab kare jab sab me index name same ho tab ak bhi serices ka index alg hua  to nahi karega

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
8    NaN
10   NaN
a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64

In [85]:
s6 - s7 #Subtraction tab kare jab sab me index name same ho tab

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64

In [86]:
s6 - s8 #Subtraction tab kare jab sab me index name same ho tab

0        NaN
1     5401.0
2       39.0
3        NaN
4        NaN
5      -40.0
8        NaN
10       NaN
dtype: float64

In [87]:
s6-s8-s7 #Subtraction tab kare jab sab me index name same ho tab

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
8    NaN
10   NaN
a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
dtype: float64