In [1]:
pip install mysql

Requirement already satisfied: mysql in c:\users\frontech\.conda\envs\mynewenv\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\frontech\.conda\envs\mynewenv\lib\site-packages (from mysql) (2.2.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sql

Requirement already satisfied: sql in c:\users\frontech\.conda\envs\mynewenv\lib\site-packages (2022.4.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("show databases")
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023E21F08140>
('information_schema',)
('mysql',)
('new_schema',)
('new_schema1',)
('performance_schema',)
('sakila',)
('sys',)
('test',)
('test2',)

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS test2")
mydb.close()

In [11]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS test2.table_test2 (c1 INT , c2 FLOAT , c3 VARCHAR(100))")
mydb.close()

❌ Ye galat hai:
c3 VARCHAR()

✅ Ye sahi hai:
c3 VARCHAR(100)

In [15]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("insert into test2.table_test2 values(123 , 125.2 , 'sajan')")
mydb.commit()
mydb.close()

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    print(i)
mydb.close()

(123, 125.2, 'sajan')

In [17]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')") 
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')") 
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')")
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')")
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')")
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')")
mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'sajan')")
  

mydb.commit()

mydb.close()

In [19]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 125.2, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')

In [23]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select c1 , c3 from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')

In [24]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 125.2, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')
(123, 125.5, 'sajan')

In [26]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("alter table test2.table_test2 drop column c2") 
mydb.commit()

mydb.close()

In [28]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()

mycursor.execute("insert into test2.table_test2 values(123 , 125.5 , 'kumar')") 
mydb.commit()

mydb.close()

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [28]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("insert into test2.table_test2 values(123 , 'kumar')") 
mycursor.execute("insert into test2.table_test2 values(123 , 'kumar')") 
mydb.commit()

mydb.close()

In [29]:

import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'kumar')
(123, 'kumar')
(123, 'kumar')
(123, 'kumar')

In [31]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("delete from test2.table_test2 where c3 = 'kumar'") 
mydb.commit()

mydb.close()

In [32]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')
(123, 'sajan')

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("alter table test2.table_test2 add age int ")
mydb.commit()

mydb.close()

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("insert into test2.table_test2 values(123 , 'kumar')") 
mycursor.execute("insert into test2.table_test2 values(123 , 'kumar')") 
mydb.commit()

mydb.close()

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [4]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()

mycursor.execute("insert into test2.table_test2 values(123 ,'kumar',19)") 
mycursor.execute("insert into test2.table_test2 values(123 ,'kumar',19)")
mycursor.execute("insert into test2.table_test2 values(123 ,'kumar',19)") 
mydb.commit()

mydb.close()

In [5]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 'sajan', None)
(123, 'sajan', None)
(123, 'sajan', None)
(123, 'sajan', None)
(123, 'sajan', None)
(123, 'sajan', None)
(123, 'sajan', None)
(123, 'sajan', None)
(123, 'kumar', 19)
(123, 'kumar', 19)
(123, 'kumar', 19)

In [11]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("update test2.table_test2 set age = 20 where c3 = 'sajan' ")
mydb.commit()

mydb.close()

In [12]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'sajan', 20)
(123, 'kumar', 19)
(123, 'kumar', 19)
(123, 'kumar', 19)

In [14]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("update test2.table_test2 set age = 22")
mydb.commit()

mydb.close()

In [16]:
import mysql.connector
mydb = mysql.connector.connect(
    host= "localhost",
    port = 3306,
    user="root",
    password="Sajan@123"
)
mycursor= mydb.cursor()
mycursor.execute("select * from test2.table_test2")
for i in mycursor.fetchall():
    
    print(i)
mydb.close()

(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'sajan', 22)
(123, 'kumar', 22)
(123, 'kumar', 22)
(123, 'kumar', 22)